<h1> id: <%= @task.id %>のタスク</h1>

<p><%= @task.content %></p>

<%= link_to'back to tasks' , tasks_path %>
<%= link_to'edit task' , edit_task_path(@task) %>
<%= link_to'delete task', @task, method: :delete, data: { confirm: 'Are you OK?' } %>
